@use 'partials/colors';
@use 'partials/fonts';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: archivo;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    background: colors.$background;
}

.flexbox{
    display: flex;
    &.align-center{
        align-items: center;
    }
    &.justify-center{
        justify-content: center;
    }
    &.column{
        flex-direction: column;
    }
    &.justify-between{
        justify-content: space-between;
    }
    &.justify-end{
        justify-content: flex-end;
    }
    &.wrap{
        flex-wrap: wrap;
    }
}
#content{
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 48px; 
  padding-bottom: 48px;
}
#navbar{
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px; 
  nav {
    a { color: colors.$textPrimary; }
  }
}
section{
    width: 100%;
    margin: 0 auto;
    &.nopad{
      padding: 0;
      // padding-top: 48px;
      // padding-bottom: 48px;
    }
    &.full{
        min-height: 100vh;
    }
    &#pagination{
      a{
        text-decoration: none;
        padding: 6px;
        color: colors.$onBackground;
        &.selected {
          background: colors.$onBackground;
          color: colors.$background;
        }
      }
    }
}
#me{
    max-width: 550px;
    width: 100%;
    aspect-ratio: 1 / 1;
}
p{
    &.secondary{
        color: colors.$textSecondary;
    }
}
a{ 
  color: colors.$textSecondary;
  &.nodeco{
    text-decoration: none;
    color: inherit;
  }
}
.post-preview {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid colors.$textPrimary;
}
