@use 'partials/colors';
@use 'partials/fonts';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: archivo;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    background: colors.$background;
}

.flexbox{
    display: flex;
    &.align-center{
        align-items: center;
    }
    &.align-top{
      align-items: flex-start;
    }
    &.justify-center{
        justify-content: center;
    }
    &.column{
        flex-direction: column;
    }
    &.justify-between{
        justify-content: space-between;
    }
    &.justify-end{
        justify-content: flex-end;
    }
    &.wrap{
        flex-wrap: wrap;
    }
}
.sticky{
  position: sticky;
}
button{
  border: 2px solid colors.$onBackground;
  color: colors.$textPrimary;
  width: 100%;
  cursor: pointer;
  max-width: 570px;
  background: none; 
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 1rem;
  &.secondary {
    border: 2px solid colors.$onBackgroundSecondary;
    color: colors.$onBackgroundSecondary;
  }
}
#content{
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 48px; 
  padding-bottom: 48px;
  #telegram-subscribe{
    background: colors.$backgroundSecondary;
    padding: 24px; 
    color: colors.$onBackgroundSecondary;
  }
  #post-content {  
    p{
      img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
  }
}
#navbar{
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px; 
  nav {
    a { color: colors.$textPrimary; }
  }
}
section{
    margin: 0 auto; 
    &.fw{
      width: 100%;
    }
    &.nopad{
      padding: 0;
      // padding-top: 48px;
      // padding-bottom: 48px;
    }
    &.full{
        min-height: 100vh;
    }
    &#pagination{
      a{
        text-decoration: none;
        padding: 6px;
        color: colors.$onBackground;
        &.selected {
          background: colors.$onBackground;
          color: colors.$background;
        }
      }
    }
}
#me{
    max-width: 550px;
    width: 100%;
    aspect-ratio: 1 / 1;
}
p{
    &.secondary{
        color: colors.$textSecondary;
    }
}
a{ 
  color: colors.$textSecondary;
  &.nodeco{
    text-decoration: none;
    color: inherit;
  }
}
.post-preview {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid colors.$textPrimary;
}
