@mixin perfect-bg($url) {
    background: url($url) no-repeat center center fixed;
    background-size: contain;
}
@mixin perfect-bg-unfixed($url) {
    background: url($url) no-repeat center center scroll;
    background-size: cover;
}