@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700;800&family=Work+Sans:wght@300&display=swap');
@import 'mixins';
@import 'partials/colors';

body{
    margin: 0;
    background: $white;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'DM Sans', sans-serif;
    &.light{
        font-weight: lighter;
    }
    &.bold{
        font-weight: bold;
    }
}
p,span{
    font-family: 'Raleway', sans-serif;
    &.light{
        font-weight: lighter;
    }
    &.bold{
        font-weight: bold;
    }
}
section{
    &.whole{
        width: 100%;
        height: 100vh;
    }
    a.c{
        color: $black;
        text-decoration: none;
        border-bottom: 1px solid $black;
        padding-bottom: 5px;
    }
    .container{
        margin: 0 auto;
        margin-top: -85px;
        width: 60vw;
        &.t{
            z-index: -1;
            opacity: 0;
            left: 0; right: 0;
            overflow: hidden;
            transform: translateY(100px);
        }
    }
    h1{
        &.title{
            &.pre{
                margin-top: -40px;
            }
            font-size: 4.35em;
        }
    }
    p{
        &.pre{
            margin-top: -130px;
        }
        &.large{
            font-size: 1.75em;
            line-height: 40px;
            font-family: 'Work Sans', sans-serif;
        }
    }
}
#home-navbar-mobile{
    display: none;
    background: $white;
}
#loading{
    background: $white;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    transition: .75s all ease;
    .flash{
        animation: flash 1.5s linear infinite;
    }
}
@keyframes flash {
    0%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 0; }
}
.me{
    width: 60%;
    height: 60vh;
    position: relative;
    .nopseudo{
        display: inline-block;
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        position: absolute;
        font-size: 2em;
        letter-spacing: .035em;
        left: -50px;
        top: 100%;
        transform-origin: top left;
        transform: rotate(270deg);
    }
}
#home-navbar, #home-navbar-mobile{
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: -25px;
    right: 0;
    a{
        font-weight: lighter;
        text-decoration: none;
        color: $black;
        font-size: 1em;
        padding-right: 10px;
        padding-left: 10px;
        &:nth-child(4){
            padding-right: 0;
        }
    }
}
.flexbox{
    display: flex;
    &.justify-center{ justify-content: center; }
    &.justity-between{ justify-content: space-between; }
    &.justify-right{ justify-content: right; }
    &.align-center{ align-items: center; }
}

@media screen and (max-width: 900px){
    section{
        .container{
            width: 90%;
            margin-top: -100px;
        }
        &.whole{
            height: 90vh;
        }
    }
    .me{
        width: 90%;
        .nopseudo{
            display: none;
        }
        #home-navbar{
            display: none;
        }
    }
    #home-navbar-mobile{
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        background: $white;
        z-index: 100;
    }
}
@media screen and (max-width: 900px) and (min-height: 620px){
    .me{
        width: 90%;
        height: 40vh;
    }
}
@media screen and (max-width: 900px) and (max-height: 620px){
    .me{
        width: 90%;
        height: 300px;
    }
    .flexbox{
        display: flex;
        &.tagged{
            margin-top: 80px;
            align-items: flex-start !important;
        }
    }
    .me{
        width: 90%;
        height: 400px;
    }
    section{
        &.whole{
            height: auto;
        }
        .container{
            margin-top: 0px;
        }
        p{
            margin: 0;
            padding: 0;
            &.pre{
                margin-top: -160px;
            }
        }
    }
}
/*@media screen and (max-width: 900px) and (min-height: 500px){
    .me{
        width: 90%;
        height: 40vh;
    }
    section{
        p{
            margin: 0;
            padding: 0;
            &.pre{
                margin-top: -160px;
            }
        }
    }
}*/