@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,wght@0,400;1,400;1,700&display=swap');
@import 'partials/colors';
@import 'partials/navbar';

body{
    background: $black;
    margin: 0;
}
section{
    &.full{
        position: relative;
        top: 0;
        min-height: 100vh;
    }
    &.flexbox{
        display: flex;
    }
}
.flexbox{
    &.justify-center{ justify-content: center; }
    &.align-center{ align-items: center; }
    &.align-bottom{ align-items: flex-end; }
}