{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>emiliano maccaferri &mdash; blog</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <section class="flexbox column" style="gap: 48px;">
      <div class="flexbox column" style="gap: 24px;">
        <div class="flexbox justify-between align-center">
          <h1>blog</h1>
        </div>
        <h4 class="subtitle">
          stuff i make, rambling and other miscellaneous things   
        </h4>
      </div>
      <div class="flexbox column" style="gap: 24px">
        <h1>latest posts</h1>
        <section id="latest-posts" class="nopad" style="margin-top: -24px;">
          {{ macros::get_posts(n=3) }}
        </section>
      </div>
    </section>
  </body>
</html>
