<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>emiliano maccaferri &mdash; blog</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <section class="flexbox column" style="gap: 48px;">
      <div class="flexbox column" style="gap: 24px;">
        <div class="flexbox justify-between align-center">
          <h1>blog</h1>
          <p><b>Emiliano Maccaferri</b></p>
        </div>
        <h4 class="subtitle">
          stuff i make, rambling and other miscellaneous things   
        </h4>
      </div>
      <section id="latest-posts" class="nopad">
        {% set section = get_section(path="posts/_index.md") %}
        {% for post in section.pages %}
          <article class="post flexbox column" style="gap: 12px;">
            <h3>{{ post.title }}</h3>
            <span class="label">{{ post.date }}</span>
            <div class="flexbox wrap" style="gap: 6px;">
              <!-- only one taxonomy for now, topic -->
             {% for key, value in post.taxonomies %}
                {% for topic in value %}
                  <span class="label small bordered">
                    {{ topic }}
                  </span>
                {% endfor %}
              {% endfor %}
            </div>
          </article>
        {% endfor %}
      </section>
    </section>
  </body>
</html>
