{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emiliano Maccaferri &mdash; blog</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
    <script defer data-domain="blog.macca.cloud" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

  </head>
  <body>
    <div id="content">
      {% include "navbar.html" %}
      <section class="fw flexbox column" style="gap: 48px;">
        <div class="flexbox column" style="gap: 24px;">
          <div class="flexbox justify-between align-center">
            <h1>Blog</h1>
          </div>
          <h4 class="subtitle">
            Coding, rambling and other miscellaneous things   
          </h4>
          <p>
            Hello there, I'm Emiliano (any/they), 25. <br> 
            Welcome to my humble blog, I hope you'll enjoy reading whatever I write here.
          </p>
          <p>
            If you're searching for other things, take a look at my <a href="https://macca.cloud">website</a>.
          </p>
        </div>
        <div class="flexbox column" style="gap: 24px; padding-bottom: 48px;">
          <h1>Latest posts</h1>
          <section id="latest-posts" class="fw nopad" style="margin-top: -24px;">
            {{ macros::get_posts(n=3) }}
          </section>
        </div>
      </section> 
    </div> 
  </body>
</html>
