<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>emiliano maccaferri &mdash; {{ section.title }}</title>
    <link href="/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <section class="flexbox column" style="gap: 24px;">
      <h1>{{ section.title }}</h1>
      <h4 class="subtitle">{{ section.description }}</h4>
      <div class="posts">
        {% for post in paginator.pages %}
          {% include "post-preview.html" %}
        {% endfor %}
      </div>
      {% include "pagination.html" %}
   </section>
  </body>
</html>
