<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ section.description }}">
    <title>Emiliano Maccaferri &mdash; {{ section.title }}</title> 
    <link href="/style.css" type="text/css" rel="stylesheet" />
    <script defer data-domain="blog.macca.cloud" src="https://plausible.macca.cloud/js/script.outbound-links.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </head>
  <body>
   <div id="content"> 
      {% include "navbar.html" %}
      <section class="flexbox column" style="gap: 24px;">
        <h1>{{ section.title }}</h1>
        <h4 class="subtitle">{{ section.description }}</h4>
        <div class="posts">
          {% for post in paginator.pages %}
            {% include "post-preview.html" %}
          {% endfor %}
        </div>
        {% include "pagination.html" %}
      </section>
    </div>
  </body>
</html>
