@use './colors';

@font-face {
    font-family: archivo;
    src: url(./fonts/archivo.ttf);
}
@font-face {
    font-family: archivo;
    src: url(./fonts/archivo-black.ttf);
    font-weight: bold;
}
@font-face {
    font-family: fira-code;
    src: url(./fonts/fira_code.ttf);
}
code{
  font-family: fira-code;
  background: #cecece;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 3.5px;
}
h1{
    font-size: clamp(2rem, 4.2062vw, 4.2062rem); 
    font-family: archivo;
    font-weight: bold;
    color: colors.$textPrimary;
    &.hero{
        font-size: clamp(2.25rem, 6vw, 6rem); 
        color: colors.$textPrimary;
    }
    &.small{
        font-size: clamp(1.15rem, 1.25vw, 1.25rem);
    }
}
h3{
    font-weight: bold;
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    color: colors.$textPrimary;
}

h4{
    &.subtitle{
        font-weight: normal;
        font-size: clamp(1.15rem, 1.5vw, 1.5rem);
        color: colors.$textSecondary;
        a{
            color: inherit;
        }
    }
}
span, p, ul, li{
    font-size: clamp(1rem, 1.1vw, 1.1rem); 
    line-height: clamp(1.6rem, 1.75vw, 1.75rem);
    &.label {
      color: colors.$textSecondary;
      &.small {
        font-size: clamp(.90rem, .90vw, .90rem); 
      }
      &.bordered {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        color: colors.$background;
        background: colors.$onBackground;
      }
    }

}
