#navbar{
    font-family: 'DM Sans', sans-serif;
    color: $white;
    width: 100%;
    list-style-type: none;
    padding: 0;
    li{
        width: 100%;
        text-indent: 2.5vw;
        font-weight: lighter;
        font-style: italic;
        font-size: 10.5vw;
        //letter-spacing: .25vw;
        margin: 0;
        padding: 0;
        &:not(.last){
            margin-bottom: -3.5vw;
        }
    }
}